<header>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .main {
    display:flex;
    }

.first-row {
    padding: 15px;
    height:200px;
    width:200px;
    border: 1px solid blue;
}

#third {
    margin-right:15px;
}

#first{
    margin-left:20px;
}
</style>
</header>
<%=header%>
  <div class="main">
    <div class="first-row" id="first">
      <img src="mt.everest.png"/>
    </div>
    <div class="first-row" id="second">
      <img src="pictures/mt.k2.png"/>
    </div>
    <div class="first-row" id="third">
      <img src="pictures/mt.kangchenjunga.png"/>
    </div>
  </div>
<div>
</div> 
