
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
    <body style="background: linear-gradient(to left,rgba(255,0,0,0.90), rgba(0,250,5,0.70));">
    <header style="bottom:40px;background-color:rgba(232,232,232,0.35);width:100%"><h1><%=header%></h1></header>
    <div style="display:flex;justify-content:space-between;" class="links"><a href="/signup"><a href="/login"></a></div>
    </body>