<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<title>Mountaineer</title>
  <link rel="stylesheet" type="text/css" href="signup.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <div>
    <h1 class="head">MOUNTAINEER<span class="fas fa-mountain"></span></h1>
  </div>
  <div class="navbar-menu">
  </div>
  <div class="m">
  </div>
    <nav class="navbar-menu navbar is-transparent">
    <div class="navbar-menu">
    </div>
  </div>
    <div class="m">
    </div>
  </nav>
    <div class="main">
      <form action="/login">
        <div class="field">
          <label for="Username">Username</label>
        <div class="control">
        <input class="input is-primary" type="text" placeholder="Username">
      </div>
    </div>
        <div class="field">
          <label for="Password">Password</label>
        <div class="control">
            <input class="input is-primary" name="password" type="text" placeholder="Password">
          </div>
        </div>
        <div class="wrapper">
      <button class="button is-info is-outlined" name="button" type="submit">Submit</button>
      </div>
      </form>
    </div>
<!-- <form action="/login">
      <label for="Username">Username | Email</label>
      <input class="input is-primary" placeholder="Enter Username or Email" name="username">
      <label for="Password">Password</label>
      <input class="input is-primary password" placeholder="Password" name="password">
  
    <div class="wrapper">
      <button class="button is-info is-outlined" id="button" type="submit">Submit</button>
    </div>
</form> -->
</body>
